body{

}
h3{
    margin-left: 450px;
    color: red;
}
.content{
    background-color: antiquewhite;
    border: 10px solid goldenrod;
    margin-right: 150px;
    margin-left: 150px;
}
.news{
    background-color: bisque;
    border: 10px solid darkkhaki;
    border-radius: 90px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 150px;
    margin-left: 150px;
}
.line {
    border-left: 2px solid #ccc; /* Параметры линии */
    margin-left: 100px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */
}
h3{
    margin-left: 100px;
}